# SPDX-License-Identifier: GPL-2.0-or-later
[Unit]
Description=frp fast reverse proxy client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/frpc -c /etc/frp/frpc.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
